@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="modalCallbackRecordNote" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title">Görüşme Notu</h5>
            </div>
            <div class="modal-body">
                <form class="form form--label-right" id="newCallbackForm">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Notunuzu giriniz:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="cb_note" type="text" name="cb_note" placeholder="" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveCallbackRecord">Kaydet</button>
            </div>
        </div>
    </div>
</div>


