@using Winvestate_Offer_Management_Models.Enums.Offer
@using Winvestate_Offer_Management_MVC.Classes
@model ViewModelBase;

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
           @if (Model.User.user_type < 3)
           {
               @Html.Partial("~/Views/Dashboard/Admin.cshtml", Model)
           }
           else if (Model.User.user_type == 3)
           {
               @Html.Partial("~/Views/Dashboard/Customer.cshtml", Model)
           }
           else
           {

           }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/js/Offer/offer.js"></script>
}