@model ViewModelBase;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="kt_modal_add_bank" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Kurum</h5>
            </div>
            <div class="modal-body">
                <form class="form form--label-right" id="newBankForm">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Adı:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="bank_name" type="text" name="bank_name" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Kurum Ön Eki:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="company_prefix" type="text" name="company_prefix" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Adı:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="authorized_name" type="text" name="authorized_name" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Soyadı:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="authorized_surname" type="text" name="authorized_surname" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Telefon:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper phoneInput" id="authorized_phone" type="text" name="authorized_phone" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Sabit Telefon:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper secondPhoneInput" id="authorized_second_phone" type="text" name="authorized_second_phone" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Dahili:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_upper" id="authorized_dial_code" type="text" name="authorized_dial_code" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Mail:</label>
                        <div class="col-lg-10">
                            <input class="form-control wv_lower" id="authorized_mail" type="text" name="authorized_mail" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Yetkili Şifre:</label>
                        <div class="col-lg-10">
                            <div class="input-group">
                                <input class="form-control password" id="authorized_password" type="password" name="authorized_password" placeholder=""/>
                                <a href="#" id="togglePassword" class="input-group-append"><span class="input-group-text"><i class="flaticon-eye"></i></span></a>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Kullanılacak Sözleşme:</label>
                        <div class="col-lg-10">
                            <select class="form-control select2" id="mespact_agreement_uuid" name="mespact_agreement_uuid">
                                @foreach (var loOption in Model.User.contracts)
                                {
                                    <option value="@loOption.row_guid">@loOption.document_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">Satış Onayı</label>
                        <div class="col-10 col-form-label">
                            <div class="radio-inline">
                                <label class="radio radio-success">
                                    <input type="radio" name="sale_in_company" value="true" checked="checked" />
                                    <span></span>
                                    Kurum
                                </label>
                                <label class="radio radio-success">
                                    <input type="radio" name="sale_in_company" value="false" />
                                    <span></span>
                                    Winvestate
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveBank">Kaydet</button>
            </div>
        </div>
    </div>
</div>


